{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal text-light text-center">Register</h1>
    <div align="center" class="mb-3 font-weight-normal text-light text-center">
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn btn-success" type="submit">Register</button>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
